<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="project.css">
</head>
<body>

    
    <div class="formContainer">
        <h2> Hello class</h2>
    <form name="editForm" id="editForm" class="projectForm" action="/projects/create" method="post">
     <label>project title</label>   <br>
     <input type="text" name="project_title" ><br>
     <label>project description</label><br>
     <input type="text" name="project_description"><br>
     <label>project start date </label><br>
     <input type="date" name="start_date"><br>
     <label> project due date</label><br>
     <input type="date" name="due_date"><br>
     <button type="submit">submit</button>

               
    </form>
</div>
</body>
</html>